@charset "utf-8";

/* ============================== [ 공통 ] ========================================================================================== */
.sub_hero {padding-top: 205px; height: 520px; background: url(../images/sub/sub_hero.png) no-repeat center; background-size: cover; text-align: center;}
.sub_hero strong {color: #9999FF; font-size: 28px; font-weight: 600; display: block;}
.sub_hero h2 {font-size: 60px; color: #fff; font-weight: 700; line-height: 1.3; margin-top: 30px;}

.sub_tab {background-color: rgba(64, 55, 137, 0.55); margin-top: -60px;}
.sub_tab .inner ul {display: flex; flex-wrap: wrap;}
.sub_tab .inner ul li {flex:1;}
.sub_tab .inner ul li a {padding: 20px 0; display: flex; align-items: center; justify-content: center; text-align: center; color: #fff; font-size: 20px; font-weight: 500; letter-spacing: -0.08px;}
.sub_tab .inner ul li a.active {background-color: #403789;}

.sub_section {padding: 120px 0;}
.page_title {margin-bottom: 40px; font-size: 40px; font-weight: 700; color: #333; line-height: 1.5;}
.sub_intro {min-height: 360px; text-align: center; margin-bottom: 60px;}
.sub_intro.tl {text-align: left;}
.sub_intro .inner {display: flex; flex-direction: column; justify-content: center; height: 100%; min-height: 360px;}
.sub_intro h3 {font-size: 32px; font-weight: 700; line-height: 1.3; color: #333;}
.sub_intro h3 strong {color: #403789;}
.sub_intro p {color: #666; font-size: 20px; font-weight: 500; line-height: 1.6;}
.sub_intro h3 ~ p {margin-top: 20px;}
.sub_intro p ~ h3 {margin-top: 30px;}

/* 페이지별 이미지 변경 */
.sub_intro.intro {background: url(../images/sub/bg_intro.png) no-repeat right center; background-size: cover;}

@media screen and (max-width:1200px) {
  .sub_hero {padding-top: 115px; height: 400px;}
  .sub_section {padding: 80px 0;}
  .page_title {margin-bottom: 30px; font-size: 36px;}
}
@media screen and (max-width:768px) {
  .sub_hero {padding-top: 100px; height: 320px;}
  .sub_hero strong {font-size: 20px;}
  .sub_hero h2 {font-size: 30px; margin-top: 15px;}
  .sub_tab {margin-top: -86px;}
  .sub_tab .inner ul li {flex:none; width: 33.33%;}
  .sub_tab .inner ul li a {font-size: 14px; padding: 12px 0;}
  .sub_section {padding: 60px 0;}
  .page_title {margin-bottom: 20px; font-size: 30px;}
  .sub_intro {margin-bottom: 40px;}
  .sub_intro h3 {font-size: 24px;}
  .sub_intro p {font-size: 16px;}
  .sub_intro h3 ~ p {margin-top: 15px;}
  .sub_intro p ~ h3 {margin-top: 15px;}
}
/* ============================== [ 회사소개 ] ========================================================================================== */
.intro_txt p {color: #666; font-size: 18px; line-height: 1.5;}

@media screen and (max-width:768px) {
  .intro_txt p {font-size: 14px;}
}

